[Unit]
Description=weekly backup service for Home Backup

[Timer]
# Run once per week on Friday at 08:30
OnCalendar=Fri 8:30
Persistent=true

[Install]
WantedBy=timers.target
